@tailwind base;
@tailwind components;
@tailwind utilities;

/*npx tailwindcss -i ./src/assets/style/index.css -o ./dist/output.css --watch*/

@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@layer base {
    html {
        font-family: montserrat;
    }
}